body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav{
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    justify-content: space-between;
    margin-top: 60px;
    padding: 20px 60px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
.logo{
    height: 45px;
    /* border-radius: 50%; */
}

.search-box{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 5px;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius:30px;
    width: 500px;
    box-shadow: 0px 3px 6px 0px rgba(140, 149, 159, 0.15);
}

.border{
    width: 0px;
    border: 1px solid lightgrey;
    height: 25px;
}
.icon-box{
    height: 40px;
    width: 40px;
    background-color: rgb(234, 21, 21);
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.icon{
    height: 15px;
    /* background-color: azure; */
}

.profile-box{
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    /* background-color: aquamarine; */
    align-items: center;
    width: 440px;
    justify-content: space-around;

}

.user{
    display: flex;
    height: 60px;
    width: 110px;
    border: 2px solid black;
    align-items: center;
    justify-content: space-between;
    border-radius: 28px;
    padding: 0 10px;
    flex-wrap: wrap;
}
.user-icon{
    height: 40px;
}

.cat-box{
    /* border: 1px solid lightgrey; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 10px;
    
}
.inner-cat-box{
    width: 80%;
    /* border: 1px solid lightgrey; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    
    
    padding: 10px;
}
.sub-cat{
    text-align: center;
    width: auto;
    /* background-color: blanchedalmond; */
}
.cat-img{
    height: 45px;
    /* background-color: rgb(119, 87, 44); */
}

.filters{
    display: flex;
    width: 110px; 
    padding: 5px;
    /* background-color: aqua; */
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid lightgrey;
    border-radius: 20px;
    
    
}
.filter-img{
    height: 30px;
}

.item-set{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 60px;
    justify-content: space-between;
    /* border: 1px solid lightgray; */
    /* background-color: beige; */
}

.card{
    
    width: 390px;
    /* border: 2px solid rgb(194, 189, 189); */
    /* padding: 12px; */
    border-radius: 12px;
    margin: 10px;
    position: relative;
}
.card-img{
    width: 100%;
    height: 320px;
    border-radius: 12px;
}
.heart{
    position: absolute;
    top: 25px;
    right: 25px;
    height: 30px;

}




/* .icons{
    height: 25px;

} */